*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-lg{
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}
.container-md{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.container-sm{
  max-width: 1000px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px 0;
}