.mustang{
  background-color: #E56B1F;
}
.mid{
  display: flex;
  padding: 80px 0 0 0;
  flex-direction: column;
  align-items: center;
  .mustang-img{
    height: 230px;
  }
  .mustang-car{
    transform: translateY(-160px);
    position: relative;
  }
  h4{
    color: white;
    font-size: 48px;
    font-family: Oswald, sans-serif;
    text-align: center;
    width: 50%;
    margin: -90px;
    position: relative;
  }
  .please-img{
    margin:60px 0;
    width: 657px;
  }
}
.ford{
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/304ef91174dc5703bcb02c5a/4.png");
  background-size: cover;
}
.ford-img{
  width: 720px;
  height: 356px;
  object-fit: contain;
}
.ford-info{
  width : 45%;
  color: white;
  h4{
    color: white;
    font-size: 36px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }
  p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin:30px 0;
    line-height: 1.6;
  }
}
.double-info{
  width: 50%;
}
.company{
  width: 100%;
  display: flex;
  align-items: center;
  p{
    font-size: 16px;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  .company-img{
    width: 186px;
    height: 481px;
  }
}
.r3{
  width: 100%;
  p{
    font-size: 16px;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
}
.boss{
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/afe3de97161155bca929f3e3/5.png");
  background-size: cover;
  padding: 80px 0 ;
}
.recreations{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
img{
  width: 912px;
  height: 257px;
}

}
.recreations-info{
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  h4{
    color: white;
    font-size: 36px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }
  p{
    font-size: 16px;
    padding: 20px 0;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  button{
    background:none;
    color: white;
    border: 2px solid white;
    margin: 20px 20px 0;
    padding: 15px 35px;
  }
}
.mustang-gt{
  background-color: #E56B1F;
  padding: 50px 0 ;
}
.gt{
  width: 50%;
  .ford-img2{
    width: 535px;
    height: 240px;
  }
  h4{
    color: white;
    font-size: 36px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }
  p{
    font-size: 16px;
    padding: 20px 0;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  .gt-img{
    height: 287px;
  }
  button{
    background:none;
    color: white;
    border: 2px solid white;
    margin: 20px 20px 0;
    padding: 15px 35px;
  }
}
.gt-2{
  width: 40%;
  p{
    font-size: 16px;
    padding: 20px 0;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  .gt-img{
    height: 287px;
  }
  button{
    background:none;
    color: white;
    border: 2px solid white;
    margin: 20px 20px 0;
    padding: 15px 35px;
  }
}
.plater{
  background-color:#32064A;

}
.plater-info{
  width: 50%;
  h4{
    color: white;
    font-size: 36px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
  }
  p{
    font-size: 16px;
    padding: 20px 0;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  img{
    height: 339px;
    width: auto;
  }
}
.plater-info2{
  width: 35%;
  p{
    font-size: 16px;
    padding: 20px 0;
    color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  .img3{
    width: 606px;
    height: 351px;
    transform: translate(-45px, -35px);

  }
  img{
    height: 339px;
    width: auto;
  }
}
.company-p{
  width: 55%;
}
.company-img{
  width: 40%;
}