@media only screen and (max-width: 1100px){
  .gt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
  }
  .gt-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 55px;
  }
  .mid .mustang-car {
    position: relative;
    width: 800px;
  }
}
@media only screen and (max-width: 950px){
  .mustang-car {
    position: relative;
    transform: translateY(-40px);
    width: 100%;
  }
  .mid .mustang-img {
height: 170px;
  }
  .mid {
    h4 {
      font-size: 40px;
    }

    .mid .please-img {
      margin: 60px 0;
      width: 555px;
    }
  }
  .ford-info{
    width: 70%;
  }
  .double-info{
    width: 70%;
  }
  .recreations img {
    width: 680px;
    height: 200px;
  }
}
@media only screen and (max-width: 810px){
  .mid .mustang-car {
    margin: -100px auto 0px auto;
    position: relative;
    width: 685px;
  }
  .mid .mustang-img {
    height: 145px;
  }
  .mid h4 {
    color: white;
    font-size: 45px;
    font-family: Oswald, sans-serif;
    text-align: center;
    width: 50%;
    margin: -35px;
    position: relative;
  }
  .mid .please-img {
    margin: 60px 0;
    width: 590px;
  }
}
@media only screen and (max-width: 700px){
  .mustang-car {
    position: relative;
    transform: translateY(-40px);
    width: 100%;
  }
  .ford-img {
    width: 75%;
    object-fit: contain;
  }
  .recreations img {
    height: 200px;
    width: 100%;
  }
}
@media only screen and (max-width: 550px){
  .ford-img {
    width: 100%;
    object-fit: contain;
  }
  .recreations img {
    height: 200px;
    width: 100%;
  }
}